
.acceso-rapido{
  margin:0 auto;
  display: list-item;
  text-align:center;
  margin: .5em;
}

:root {
  --primary: #4CAF50;
  --alternative: #7C4DFF;
  --primary-light: #C8E6C9;
  --primary-dark: #388E3C;
  --white: #FFFFFF;
  --dark: #212121;
  --gray: #757575;
  --light: #BDBDBD;
  --success: #00A676;
  --info: rgb(0, 116, 159);
  --warning: rgb(255, 158, 2);
  --danger: rgb(239, 1, 1);
	--radius: 0.8em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    font-weight: 200;
    line-height: 1.5;
    background: #f7f7f7;
}

strong {
  font-weight: 400;
}

a, a:active, a:hover, a:visited{
  color: var(--info);
  text-decoration: underline;;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: .5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 1.25em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

ul, ol, dl, blockquote{
  margin-left: 2em;
}

ul li{
  list-style: disc;
}

ol li{
  list-style: decimal-leading-zero;
}

em{
  font-style: italic;
}

blockquote{
  border-left: .5em solid;
  padding-left: 1em;
  padding-right: 2em;
  border-color: var(--primary);
}

/*Bordes*/
.border{
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
}

.border_top{
  border-width: 1px 0 0 0;
}

.border_right{
    border-width: 0 1px 0 0;
}

.border_bottom{
  border-width: 0 0 1px 0;
}

.border_left{
  border-width: 0 0 0 1px;
}

.border_top_0{
  border-width: 0 1px 1px 1px;
}

.border_right_0{
    border-width: 1px 0 1px 1px;
}

.border_bottom_0{
  border-width: 1px 1px 0 1px;
}

.border_left_0{
  border-width: 1px 1px 1px 0;
}

.border-radius{
  border-radius: var(--radius);
}

.border_primary{
  border-color: var(--primary);
}

.border_alternative{
  border-color: var(--alternative);
}

.border_primary_light{
  border-color: var(--primary-light);
}

.border_primary_dark{
  border-color: var(--primary-dark);
}

.border_white{
  border-color: var(--white);
}

.border_gray{
  border-color: var(--gray);
}

.border_light{
  border-color: var(--light);
}

.border_dark{
  border-color: var(--dark);
}

.border_success{
  border-color: var(--success);
}

.border_info{
  border-color: var(--info);
}

.border_danger{
  border-color: var(--danger);
}

.border_warning{
  border-color: var(--warning);
}

/*Colores*/
/*
bg_gradient-primary
*/
.bg_primary{
  background: var(--primary);
}

.bg_alternative{
  background: var(--alternative);
}

.bg_primary_light{
  background: var(--primary-light);
}

.bg_primary_dark{
  background: var(--primary-dark);
}

.bg_white{
  background: var(--white);
}

.bg_gray{
  background: var(--gray);
}

.bg_light{
  background: var(--light);
}

.bg_dark{
  background: var(--dark);
}

.bg_success{
  background: var(--success);
}

.bg_info{
  background: var(--info);
}

.bg_danger{
  background: var(--danger);
}

.bg_warning{
  background: var(--warning);
}

.text_alternative{
  color: var(--alternative);
}

.text_primary_light{
  color: var(--primary-light);
}

.text_primary_dark{
  color: var(--primary-dark);
}

.text_white{
  color: var(--white);
}

.text_gray{
  color: var(--gray);
}

.text_light{
  color: var(--light);
}

.text_dark{
  color: var(--dark);
}

.text_success{
  color: var(--success);
}

.text_info{
  color: var(--info);
}

.text_danger{
  color: var(--danger);
}

.text_warning{
  color: var(--warning);
}

/*Botones*/
.btn{
  padding: .8em 2em;
  border:none;
  border-radius: var(--radius);
  font-size: .8em;
  margin: .5em;
  text-transform: uppercase;
}

.btn_primary{
  background: var(--primary);
}

.btn_alternative{
  background: var(--alternative);
}

.btn_primary_light{
  background: var(--primary-light);
}

.btn_primary_dark{
  background: var(--primary-dark);
}

.btn_white{
  background: var(--white);
}

.btn_gray{
  background: var(--gray);
}

.btn_light{
  background: var(--light);
}

.btn_dark{
  background: var(--dark);
}

.btn_success{
  background: var(--success);
}

.btn_info{
  background: var(--info);
}

.btn_danger{
  background: var(--danger);
}

.btn_warning{
  background: var(--warning);
}

.btn_block{
  width:100%;
  display: block;
  margin: 1em auto;
}

/*Tablas*/
.table{
	width:100%;
	text-align: left;
}

.table tr{
	border:0;
	border: 1px solid transparent;
	border-bottom-color: var(--secondary);
}

.table thead tr{
	border-bottom-width: 2px;
}

.table td, th{
	padding:0.8em 0.5em;
}

.table tr:hover td{
	background: var(--primary);
}

.table th{
  font-weight: 400;
}

.table tfoot{
	font-weight:bold;
}

.table tfoot tr:hover td{
	background: var(--secondary);
	color: var(--light);
}

/*Formularios*/
label{
  display: block;
  margin-left: .5em;
}

input, textarea{
  padding: .8em 2em;
  border:none;
  width: calc(100% - 1em);
  border-radius: var(--radius);
  font-size: .8em;
  margin: .5em;
  background: var(--primary-light);
}

/*Utilidades*/
.m_1{
	margin:1em;
}

.m_2{
	margin:2em;
}

.m_3{
	margin:3em;
}

.m_4{
	margin:4em;
}

.mb_1{
	margin-bottom:1em;
}

.mb_2{
	margin-bottom:2em;
}

.mb_3{
	margin-bottom:3em;
}

.mb_4{
	margin-bottom:4em;
}

.mt_1{
	margin-top:1em;
}

.mt_2{
	margin-top:2em;
}

.mt_3{
	margin-top:3em;
}

.mt_4{
	margin-top:4em;
}

.ml_1{
	margin-left:1em;
}

.ml_2{
	margin-left:2em;
}

.ml_3{
	margin-left:3em;
}

.ml_4{
	margin-left:4em;
}

.mr_1{
	margin-right:1em;
}

.mr_2{
	margin-right:2em;
}

.mr_3{
	margin-right:3em;
}

.mr_4{
	margin-right:4em;
}

.p_1{
	padding:1em;
}

.p_2{
	padding:2em;
}

.p_3{
	padding:3em;
}

.p_4{
	padding:4em;
}

.pb_1{
	padding-bottom:1em;
}

.pb_2{
	padding-bottom:2em;
}

.pb_3{
	padding-bottom:3em;
}

.pb_4{
	padding-bottom:4em;
}

.pt_1{
	padding-top:1em;
}

.pt_2{
	padding-top:2em;
}

.pt_3{
	padding-top:3em;
}

.pt_4{
	padding-top:4em;
}

.pl_1{
	padding-left:1em;
}

.pl_2{
	padding-left:2em;
}

.pl_3{
	padding-left:3em;
}

.pl_4{
	padding-left:4em;
}

.pr_1{
	padding-right:1em;
}

.pr_2{
	padding-right:2em;
}

.pr_3{
	padding-right:3em;
}

.pr_4{
	padding-right:4em;
}

.inline{
  display: inline-block;
}

.flex {
  display: flex;
}

.justify-content-start {
  -webkit-box-pack: start!important;
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
}

.justify-content-end {
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}

/********************* Imágenes */
img {
  display: block;
}

.img_center{
	margin:0 auto;
}

/********************* Texto */
.text_center{
	text-align: center;
}

.text_right{
	text-align:right;
}

.text_left{
	text-align:left;
}

/********************* Botones */
button {
  cursor: pointer;
}

/********************* Sidebar */
aside h5 {
  border-bottom: 1px solid var(--dark);
}

aside ul {
  margin: 0;
  padding: 0;
}

aside ul li {
  list-style: none;
}

.link_active {
  text-decoration: none !important;
  color: var(--gray) !important;
}

/* Breadcrumbs */
.breadcrumb_container {
  display: block;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  /* background-color: #e9ecef; */
  background-color: var(--primary-light);
  border-radius: .25rem;
  margin: 0 !important;
}

.breadcrumb_item_active {
  color: var(--gray);
}

.breadcrumb_item {
  list-style-type: none !important;
}

.breadcrumb_item+.breadcrumb_item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: var(--gray);
  content: ">";
}