.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: var(--white);
    background-clip: border-box;
    border-radius: 0.35rem;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.3);
    vertical-align: middle;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card_curso {
    min-height: 420px;
    max-height: 470px;
}

.card_comunidad {
    min-height: 350px;
}

.card_body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px 1.25rem;
}

.card_preview_content {
    height: 135px;
    width: 100%;
    display: block;
    border-radius: 0.35rem;
    position: relative;
}

.card_category {
    display: flex;
    position: absolute;
    right: 0;
    margin: 5px 0px auto;
    background-color: var(--gray);
    color: var(--white);
    padding: 0px 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    height: 20px;
    line-height: 18px;
    text-decoration: none !important;
    color: var(--white) !important;
    letter-spacing: 0.5px;
}

.card_description {
    font-size: 16px;
    min-height: 80px;
    text-overflow: ellipsis;
}

.card_author {
    font-size: 15px;
}

.card_button {
    padding: 10px 25px;
    text-transform: none;
    bottom: 10px;
    min-width: 180px;
}

.card_preview {
    padding: 0.2em;
}

i {
    margin-right: 10px;
}

.card_img_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    cursor: pointer;
    color: var(--white);
}

.card_img {
    height: 100%;
    width: 100%;
    position: absolute;
    filter: contrast(0.7);
}

.card_action {
    margin-bottom: 20px;
}
