.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 2em;
  z-index: 1000;
  background-color: rgba(0,0,0,.8);
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}


/* Ocultar scrollbar en Chrome, Safari and Opera */
.popup::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en IE, Edge and Firefox */
.popup {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.popup_container{
  width: 65vw;
  margin:0 auto;
  padding: 1em;
  border-radius: var(--radius);
}

.popup_container{
  position: relative;
}

.popup_title{
  position: absolute;
  top:.2em;
  left:1em;
}

.popup_container hr{
  margin-top: 1em;
}

.popup_close{
  margin-left: auto;
  display: table;
  cursor: pointer;
}

.popup .aside ul{
  margin:0;
  padding: 0;
}

.popup .aside ul li{
  list-style: none;
  margin:0;
  padding: 0;
  font-size: .8em;
}

.popup .aside ul li i{
  margin-right: .5em;
}
