@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('./reset.css');
@import url('./grids.css');
@import url('./base.css');
@import url('./navbar.css');
@import url('./popup.css');
@import url('./footer.css');
